apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: longhorn
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "3"
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://charts.longhorn.io
    chart: longhorn
    targetRevision: 1.7.*
    helm:
      valuesObject:
        defaultSettings:
          defaultReplicaCount: 2
          # Percentage of storage to reserve on each node
          storageOverProvisioningPercentage: 100
          storageMinimalAvailablePercentage: 15
        persistence:
          defaultClass: true
          defaultClassReplicaCount: 2
          defaultFsType: ext4
        resources:
          requests:
            cpu: 100m
            memory: 128Mi
          limits:
            cpu: 500m
            memory: 256Mi
        ingress:
          enabled: false
  destination:
    server: https://kubernetes.default.svc
    namespace: longhorn-system
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
