---
# ==============================================================================
# K3s agent role handlers
# ==============================================================================

- name: Restart k3s-agent
  ansible.builtin.systemd:
    name: k3s-agent
    state: restarted
    daemon_reload: true
  become: true
