---
# ==============================================================================
# K3s server role defaults
# ==============================================================================

k3s_version: "v1.31.4+k3s1"

k3s_server_args: >-
  --disable traefik
  --disable servicelb
  --disable-network-policy
  --flannel-backend=none
  --disable-kube-proxy
  --write-kubeconfig-mode 0644
  --cluster-cidr 10.42.0.0/16
  --service-cidr 10.43.0.0/16

k3s_token_file: /var/lib/rancher/k3s/server/node-token

kubeconfig_local_path: "{{ playbook_dir }}/../kubeconfig/k3s.yaml"
